/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--card-text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvh;
  width: 100%;
  max-width: 100%;
  margin: auto;
  background-image: var(--gradient-background);
  background-size: cover;
  background-attachment: fixed;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--accent-font);
  font-weight: var(--card-text-weight);
  text-transform: uppercase;
  background-color: #fff;
  margin: 100px auto;
  border: 2px solid var(--main-color);
  /* send to variables */
  padding-block: clamp(6.25rem, 5.6338rem + 2.6291vw, 8rem);
  width: clamp(375px, 375px + 0.305 * (100vw - 375px), 700px);
}

.header-title {
  font-size: clamp(49px, calc(49px + 16 * ((100vw - 375px) / 325)), 65px);
}

.header-subtitle {
  font-size: clamp(14px, calc(14px + 9 * ((100vw - 375px) / 325)), 23px);
  margin-top: 20px;
}

.filter-invert {
  filter: invert(0.7);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-multiply {
  filter: blur(2px) brightness(120%) saturate(150%) sepia(30%);
}

.filter-saturate {
  filter: saturate(180%);
}

.filter-gray {
  filter: grayscale(0.9);
}

.filter-blur {
  filter: blur(5px);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-brightness {
  filter: brightness(15%);
}

.cards {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  /* height: clamp(47.5rem, 43.1206rem + 18.6854vw, 59.9375rem); */
  height: fit-content;
  background-color: #fff;
  border: 2px solid #000;
}

.watermark {
  text-shadow: 1px #fff;
  position: absolute;
  font-family: var(--accent-font);
  color: #000;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  top: 59px;
  right: 25px;
}

.cards-title {
  font-size: 12px;
  align-self: start;
  padding: 5px 10px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 1;
}

.cards-text-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 23px 25px 18px 25px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.4px;
word-spacing: 1px;
}



.buttons {
  position: relative;
  display: flex;
  align-self: flex-end;
  padding-right: 25px;
  padding-top: 6px;
  margin-bottom: 25px;
  gap: 7px;
  z-index: 1;
}

.card__icon-button{
  background-color: transparent;
  border: none;
  width: 39px;
  height: 36px;
  padding: 0;
  align-self: center;
  cursor: pointer;
}

.save-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-self: center;
  background-color: #fff;
  border: 2px solid #000;
  width: 340px;
  padding-left: 19px;
  margin-block-start: 50px;
  block-size: 55px;
  gap: 10px;
  cursor: pointer;
  margin-block-end: 103px;
  transition: background-color 0.5s ease-in-out;
}

.save-button:hover {
  background-color: #000;
  color: #fff;
}


.card__icon-button:focus-visible,
.like-icon:focus {
outline: none;
outline: 2px solid #000;
}

.button {
  /* all: unset; */
  position: relative;
  display: flex;
  gap: 10px;
  border: 2px solid #000;
  font-family: var(--accent-font);
  font-size: 14px;
  /* padding: 10px 35px; */
  cursor: pointer;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  color: black; 
  transition: background-color 0.5s ease-in-out;
  z-index: 0; 
}

.button-padding {
  padding: 10px 35px;
}

.button:focus-visible,
.button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black; 
  transition: left 0.5s ease-in-out;
  z-index: -1; 
}

.cards-image img {
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.button:hover::before {
  left: 0;
}

.button:hover {
  color: white;
  background-color: #fff;
}


.floppy-button {
  position: relative;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 1;
  /* transition:fill  0.5s ease-in-out, transform 0.5s ease-in-out; */
}

 .floppy-button:hover {
  fill: #000;
}

.dialog-content {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 1;
  padding: 14px 14px 0 14px;
  align-items: center;
}

.dialog-floppy {
  position: relative;
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  fill: #000;
  z-index: 2;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  align-self: center;
  max-width: 234px;
}

.dialog-button {
  width: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  height: 38px;
  margin: 30px 16px 16px 16px;
  background-color: #fff;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@supports (-webkit-text-stroke: 1px #fff) {
  .watermark {
    -webkit-text-stroke: 1px #fff;
  }
}


@supports not (-webkit-text-stroke: 1px #fff) {
  .watermark {
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    color: #000; 
  }
}

/* @media (width>=768px) {
  .cards {
    width: 100%; 
    max-width: clamp(20rem, 16rem + 20vw, 43.75rem); 
  }
  .cards-image {
    width: 100%;
  }

  .cards-image img {
    width: 100%;
    max-width: 100%;
  }
} */

@media (width<=768px) {
  .page {
    width: 100%;
    max-width: 100:;
  }

  .header {
  justify-content: center;
  margin: 100px 40px;
padding: 120px 14px 120px 14px;
  }

  /* .articles {
    padding: 0 5px; 
    max-width: 375px; 
  } */

  /* .header {
    max-width: 375px;
  } */

  .cards {
    /* width: 100%;  */
    max-width: 100%; 
    border: 2px solid #000;
  }

  .cards-image {
    width: 100%;
    max-width: 100%;
  }

.cards-text-content {
padding: 23px 25px 0px 25px;
margin-block-end: 20 px;
}

  .cards-text {
    overflow-wrap: break-word;

  }

  .watermark,
  .watermark-lowcase {
    right: 10px;
top: 78px;
    font-size: 14px; 
  }

.buttons {
  padding-top: 26px;
}

  .save-button {
    margin-block: 35px; 
    flex-direction: column;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 313px;
    height: 82px;
  }

  .floppy-button {
    width: 28px;
    height: 28px;
  }
}